@import "tailwindcss";

:root {
  --foreground: 222.2 84% 4.9%;
  --background: 0 0% 100%;
}

.dark {
  --foreground: 210 40% 98%;
  --background: 222.2 84% 4.9%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
} 